/*дополнение пестицид* для выделения блоков
поставить editorconfig
opacity поменять на rgba*/

@font-face{
	font-family: 'Gilroy';
	src: url('../fonts/gilroylight.woff2'),
			 url('../fonts/gilroylight.woff');
	font-style: normal;
	font-weight: lighter;
}

@font-face{
	font-family: 'Gilroy';
	src: url('../fonts/gilroyextrabold.woff2'),
			 url('../fonts/gilroyextrabold.woff');
	font-style: normal;
	font-weight: bold;
}

@font-face{
	font-family: 'Opensans';
	src: url('../fonts/opensans.woff2'),
			 url('../fonts/opensans.woff');
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: 'Opensans';
	src: url('../fonts/opensanslight.woff2'),
			 url('../fonts/opensanslight.woff');
	font-style: normal;
	font-weight: lighter;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Opensans', Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
}

body > .container {
	width: 1200px;
}

a {
  color: #000000;
  text-decoration: none;
}

.about-us {
	position: relative;

  margin-left: 20px;
	padding-right: 140px;

	width: 600px;
}

.about-us::before {
	content: "";

	position: absolute;
	left: 0;
	top: -10px;

	width: 80px;
	height: 8px;

	background-color: #000000;
}

.about-us h2 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: bold;
}

.breadcrumbs {
	display: flex;

	margin: 0;
	margin-left: 80px;
	margin-bottom: 50px;
	padding: 0;

	list-style: none;
}

.breadcrumbs li {
	opacity: 0.5;
}

.breadcrumbs li:hover {
	opacity: 1;
}

.breadcrumbs li:active {
	opacity: 0.1;
}

.button {
  display: inline-block;
  font-family: 'Gilroy', Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  vertical-align: center;
	letter-spacing: 2px;

  min-width: 160px;
  height: 40px;
}

.button:hover {
  background-color: #f0c52e;
}

.button:active {
  background-color: #f0c52e;
  opacity: 0.5;
}

.contacts {
	position: relative;

  margin-right:20px;

	width: 580px;
}

.contacts::before {
	content: "";

	position: absolute;
	left: 0;
	top: -10px;

	width: 80px;
	height: 8px;

	background-color: #000000;
}

.contacts h2 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: bold;
}

.filter {
	width: 350px;
	height: 1290px;

	background-color: #efefef;
}

.filters {
	padding-left: 120px;
	padding-right: 70px;
}

.filter h2 {
	margin: 0;
	margin-bottom: 70px;
	padding: 0;
	padding-top: 23px;

	height: 47px;

	display: block;

	font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	vertical-align: middle;

	background-color: #dcdcdc;
}

.filter-group {
	position: relative;

	border: none;

	margin: 0;
	margin-bottom: 40px;
	padding: 0;
}

.filter-group::before {
	content: "";

	position: absolute;
	top: -10px;
	left:0;

	width: 200px;
	height: 2px;

	background-color: #000000;
}

.filter-group legend {
	font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
	font-weight: bold;

	margin: 0;
	margin-bottom: 25px;
	padding: 0;
}

.filter-group ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

.filter-option   {
	position: relative;

	padding-left: 40px;
}

.filter-option-checkbox + label::before,
.filter-option-radio + label::before {
	content: "";

	position: absolute;
	top: 3px;
	left: 0;

	width: 25px;
	height: 25px;
}

.filter-option-checkbox + label::before  {
	background-image: url('../img/svg/checkbox-off.svg');
	background-repeat: no-repeat;
}

.filter-option-checkbox:hover + label::before  {
	opacity: 0.5;
}

.filter-option-checkbox:active + label::before  {
	background-image: url('../img/svg/checkbox-on.svg');
	background-repeat: no-repeat;
}

.filter-option-checkbox:checked + label::before  {
	background-image: url('../img/svg/checkbox-on.svg');
	background-repeat: no-repeat;
}

.filter-option-checkbox:checked:hover + label::before  {
	opacity: 0.5;
}

.filter-option-checkbox:checked:active + label::before  {
	background-image: url('../img/svg/checkbox-off.svg');
	background-repeat: no-repeat;
}

.filter-option-radio + label::before  {
	background-image: url('../img/svg/radio-off.svg');
	background-repeat: no-repeat;
}

.filter-option-radio:hover + label::before  {
  opacity: 0.5;
}

.filter-option-radio:active + label::before  {
	background-image: url('../img/svg/radio-on.svg');
	background-repeat: no-repeat;
}

.filter-option-radio:checked + label::before  {
	background-image: url('../img/svg/radio-on.svg');
	background-repeat: no-repeat;
}

.filter-option-radio:checked:hover + label::before  {
  opacity: 0.5;
}

.filter-option-radio:checked:active + label::before  {
	background-image: url('../img/svg/radio-off.svg');
	background-repeat: no-repeat;
}

.footer {
  margin-top: 95px;
  padding-bottom: 67px;
  padding-top: 67px;
  background-color: #464646;
}

.footer-catalog {
	margin-top: 0;
}

.footer-top {
	display: flex;
	justify-content: space-between;
  margin: 0 20px 40px 20px;
}

.footer-middle {
	display: flex;
	justify-content: space-between;
  margin: 0 20px 70px 20px;
}

.footer-middle p {
  color: #ffffff;
}

.footer-middle a {
  color: #ffffff;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.footer-middle li:hover a {
  opacity: 0.5;
}

.footer-middle li:active a {
  opacity: 0.1;
}

.footer-middle ul {
  list-style: none;
	outline: 1px solid red;
	width:440px;

	display: flex;
	justify-content: space-between;

	letter-spacing: 2px;
}

.footer-bottom {
	display: flex;
	justify-content: space-between;

  margin-left: 20px;
  margin-right: 20px;
}

.footer-bottom a {
  color: #ffffff;         /*Временно*/
}

.footer-bottom img:hover {
	opacity: 0.5;
}

.footer-bottom img:active {
	opacity: 0.1;
}

.footer-bottom span {
	display: block;

	width: 80px;
	height: 8px;

	margin-top: 30px;

	background-color: #ffc600;
}

.header-index {
	min-height: 320px;
	box-sizing: border-box;

  margin: 20px 20px 0 20px;
  padding: 0 60px;

  background-color: #f7e296;
}

.header-index img {
	margin-bottom: 25px;
}

.header-index .container {
	display: flex;

	width: 1040px;
}

.header-inner-page {
	margin-bottom: 45px;
}

.index-search input {
	background-color: #f7e296;
	border: none;

	width: 240px;

	margin-right: 300px;
	padding-left: 40px;
}

.index-search {
	position: relative;
}

.index-search::before {
	content: "";

	position: absolute;
	top: 9px;
	left: 0px;

	width: 20px;
	height: 20px;

	background-image: url('../img/svg/search.svg');
	background-repeat: no-repeat;
}

.inner-page-main-header {
	font-family: 'Gilroy', Arial, sans-serif;
	font-size: 47px;
	line-height: 56px;
	font-weight: bold;

	margin-left: 80px;
	margin-bottom: 35px;
}

.logotypes-list {
	display: flex;

  margin: 0 20px 110px 20px;

  list-style: none;
}

.logotype {
	width: 255px;
	height: 80px;
}

.logo-1 {
	background-image: url("../img/logo-1.jpg");
}

.logo-1:hover {
	background-image: url("../img/logo-1-color.jpg");
}

.logo-2 {
	background-image: url("../img/logo-2.jpg");
}

.logo-2:hover {
	background-image: url("../img/logo-2-color.jpg");
}

.logo-3 {
	background-image: url("../img/logo-3.jpg");
}

.logo-3:hover {
	background-image: url("../img/logo-3-color.jpg");
}

.logo-4 {
	background-image: url("../img/logo-4.jpg");
}

.logo-4:hover {
	background-image: url("../img/logo-4-color.jpg");
}


.main-slider {
  margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 100px;
	padding: 0 60px;
}

.main-slider-list {
  list-style: none;

	margin: 0;
	padding: 0;
}

.main-slider-toggler {
	display: none;
}

.main-slide {
	display: flex;
}

.main-slide-left-column {
	width: 540px;
}

.main-slide-right-column {
	width: 500px;
}

.main-slide h2 {
  font-family: 'Gilroy', Arial, sans-serif;
	font-size: 47px;
	line-height: 56px;
  font-weight: bold;

	margin: 0;
	margin-top: 75px;
	margin-bottom: 30px;
	padding: 0;
}

.main-slide p {
	margin: 0;
	margin-bottom: 50px;
	padding: 0;
}

.main-slide .button {
	margin-bottom: 50px;
}

.main-slide-feature td {
  font-family: 'Gilroy', Arial, sans-serif;
	font-size: 36px;
	line-height: 48px;
  font-weight: lighter;

	width: 160px;

	margin-bottom: 15px;
}

.main-slide-feature-description {
  font-size: 13px;
	line-height: 20px;
}

.modal {
  display: none;
}

.nav-index ul {
	display: flex;
	justify-content: space-between;

  padding: 0;
  margin: 0;

  list-style: none;
}

.nav-index  a {
  font-family: 'Gilroy', Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
	letter-spacing: 2px;
}

.nav-index-right-column {
	display: flex;
	justify-content: space-between;
}

.nav-index-catalog {
	position: relative;
	width: 540px;
}

.nav-index-catalog::after {
	content: "";
	position: absolute;

	top: 7px;
	right: 320px;

	width: 17px;
	height: 17px;

	background-image: url("../img/svg/plus.svg");
	background-repeat: no-repeat;
	opacity: 0.5;
}

.nav-index-catalog ul {
	width: 540px;
	position: absolute;
	top: 40px;
	display: none;
}

.nav-index-catalog:hover ul {
	display: flex;
}

.nav-index-catalog ul div {
	display: flex;
	flex-direction: column;
}

.nav-index-right-column li:last-child {
	margin-left: 90px;
}

.nav-index-option:hover > a {
  opacity: 0.5;
}

.nav-index-option:active > a {
  opacity: 0.1;
}

.nav-index-catalog-item {
	margin-bottom: 15px;
	width: 200px;
}

.nav-index-catalog-item a {
  font-family: 'Opensans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  text-transform: none;
  font-weight: normal;
	letter-spacing: normal;
}

.nav-index-catalog-item:hover > a {
    opacity: 0.5;
}

.nav-index-catalog-item:active > a {
    opacity: 0.1;
}

.pagination {
	display: flex;
	justify-content: space-between;
	width: 760px;
	height: 70px;

	margin: 0;
	margin-left: 70px;
	padding: 0;

	list-style: none;

	background-color: #ebebeb;
}

.pagination li {
	text-align: center;
}

.pagination a {
	font-family: 'Gilroy', Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
  font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.pagination-control {
	width: 126px;
	height: 70px;
}

.pagination-control:hover {
	background-color: #d9d9d9;
}

.pagination-control:active {
	background-color: #d9d9d9;
}

.pagination-control:active a {
	opacity: 0.5;
}

.popular {
  display: flex;

  margin: 0 20px 180px 20px;
	padding: 0;

	list-style: none
}

.popular-item {
	width: 160px;
	min-height: 240px;

	margin-right: 40px;
}

.popular-item:last-child {
	margin-right: 0;
}

.popular-image {
  width: 160px;
  height: 160px;

  background-color: #f7e296;
}

.popular-image:hover {
  background-color: #f0c52e;
}

.popular-image:active {
  background-color: #f0c52e;
}

.popular-name {
  font-family: 'Gilroy', Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
  font-weight: bold;
}

.products {
	margin-left: 70px;
	margin-right: 20px;
}

.products-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;

	list-style: none;
}

.product {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 360px;
	min-height: 465px;

	margin-bottom: 30px;
	margin-right: 40px;
}

.product:first-child {
	margin-bottom: 50px;
}

.product:nth-child(2n) {
	margin-right: 0;
}

.product-name {
	font-family: 'Gilroy', Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;

	width: 260px;
	min-height: 40px;

	order: 1;
}

.product-price {
	font-family: 'Gilroy', Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;

	order: 2;

	width: 80px;
}

.service-slider-toggle {
	position: relative;

  padding: 0;
  margin: 0;
  margin-left: 20px;

	width: 300px;

  list-style: none;
}

.service-slider-toggle::after {
	content: "";

	position: absolute;
	top: -100px;
	right: 30px;

	width: 8px;
	height: 320px;

	background-color: #000000;
}

.service-slider-toggle li {
	position: relative;
}

.service-slider-toggle li:hover::after {
	content: "";

	position: absolute;
	top: 3px;
	right: 30px;

	width: 110px;
	height: 40px;

	background-color: #000000;
}

.service-slider {
	display: flex;
  background-color: #e5e5e5;
  margin-bottom: 110px;
	margin-left: -20px;
}

.service-slide {
	display: flex;
	padding-left: 110px;
}

.service-slide img {
	margin-right: 80px;
}

.service-slide p {
	padding-right: 110px;
}

.service-slide h2 {
  font-family: 'Gilroy', Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
  font-weight: bold;

	margin: 0;
	margin-bottom: 35px;
	padding: 0;
}

.service-slider-list {
  margin: 0;
  margin-left: 0px;
  margin-right: 20px;
  padding: 0;

  list-style: none;
}

.service-slider-toggle-option:hover .button {
  color: #f7e184;

  background-color: #000000;
}

.social-list {
	display: flex;

	list-style: none;
}

.sorting {
	position: relative;

	display: flex;

	padding: 0;
	padding-top: 23px;
	margin: 0;
	margin-bottom: 70px;

	height: 47px;

	background-color: #ebebeb;
}

.sorting::before,
.sorting::after {
	content: " ";

	position: absolute;

	width: 15px;
	height: 15px;
}

.sorting::before {
	top: 30px;
	right: 40px;

	background-image: url("../img/svg/icon-up-dir.svg");
	background-repeat: no-repeat;

	opacity: 0.2;
}

.sorting::after {
	top: 30px;
	right: 20px;

	background-image: url("../img/svg/icon-down-dir.svg");
	background-repeat: no-repeat;

	opacity: 0.2;
}

.sorting::before:hover: { /*Прояснить этот момент*/
	opacity: 0.4;
}

.sorting ul {
	list-style: none;
	height: 70px;
	display: flex;

	margin: 0;
	margin-top: -4px;
	padding: 0;
}

.sorting li {
	margin-right: 25px;
}


.sorting a {
	opacity: 0.3;
}

.sorting li:hover a {
	opacity: 0.6;
}

.sorting li:active a {
	opacity: 1;
}

.sorting h2 {
	font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
	letter-spacing: 2px;

	margin: 0;
	margin-left: 73px;
	margin-right: 50px;
	padding: 0;
}

.transport-company-list {
	list-style: none;
}

.transport-company-list li {
	font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: bold;
}

.user-interface {
	display: flex;
	justify-content: space-between;

	width: 500px;

  padding: 0;
  margin: 0;
	margin-bottom: 50px;

  list-style: none;
}

.user-interface-option {
	position: relative;
}

.user-interface-option::before {
  content: "";
  position: absolute;

  width: 14px;
  height: 14px;
}

.user-interface-enter {
	padding-left: 25px;
	margin-right: 180px;
}

.user-interface-enter::before {
	top: 9px;
  left: 0px;

	background-image: url("../img/svg/user.svg");
	background-repeat: no-repeat;
}

.user-interface-footer .user-interface-enter  {
	 margin: 0;
}

.user-interface-footer .user-interface-enter::before  {
	top: 9px;
	left: 0px;

 background-image: url("../img/svg/user.svg");
 background-repeat: no-repeat;
}


.user-interface-cart::before {
	top: 9px;
  left: -25px;

	background-image: url("../img/svg/cart.svg");
	background-repeat: no-repeat;
}

.user-interface-compare::before {
	top: 10px;
  left: -25px;

	background-image: url("../img/svg/compare.svg");
	background-repeat: no-repeat;
}

.user-interface-option a {
  color: #000000;
}

.user-interface-option:hover a {
  opacity: 0.5;
}

.user-interface-option:active a {
  opacity: 0.1;
}

.user-interface-footer .user-interface-option a {
  color: #ffffff;
  opacity: 0.5;
}

.user-interface-footer {
	width: 360px;
}

.user-interface-footer .user-interface-option:hover a {
  opacity: 1;
}

.user-interface-footer .user-interface-option:active a {
  opacity: 0.1;
}

.visually-hidden {
  display: none;
}

.wrapper {
	display: flex;
}
